

.imgceollama{
    background-image: url(../images/llama.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 100%;
    width: 200px;
    min-height: 200px;
}

.bannertext{
    position:relative
}

.llama-banner{
    background-color: #00b894;
    padding-left:10px;
    padding-right:10px;
    border-radius:20px;
    margin:20px;
}

.llama-banner h2{
    background-color: black;
    color:white;
    font-size: 10vw;
    mix-blend-mode: screen;
    text-align: center;
    padding-left:10px;
    padding-right:10px;
}

.llama-banner p{
    text-align: right;
}

.login-box{
    width:50%;
    margin:auto;
    padding:20px;
    text-align:center;
}

.carousel-box{
    width: 40%;
    margin:auto;
    padding:20dp;
    text-align:center;
}

.auth-box{
    width:50%;
    margin:auto;
    padding: 20px;
    margin-bottom:40px;
}

.carousel-caption{
    position: absolute;
    background-color:black;
    color:white;
    mix-blend-mode:multiply;
    text-align:left;
    bottom:0px;
    left:0px;
}

#carousel{
    padding-bottom:20px;
}

